{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{> "navigation" }}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<div id="share-tooltip">
  <p>Hey ! On a une chouette page facebook, tu viens ?</p>
  <img id="share-gif" src="/images/cloud.gif" alt="" />
  <div class="fb-like" data-href="https://www.facebook.com/melmelboo" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
  <p><a href="#nop" id="no-share-box">Non... laisse moi tranquille, va-t-en !</a></p>
</div>
<main class="content col-lg-9" role="main">
    <article class="{{post_class}}">
        <header class="post-header">
            <time class="post-date"
                  datetime="{{date format="YYYY-MM-DD"}}">
              {{date format="D MMMM YYYY"}}
            </time>
            <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">
            <img src="/images/globe1.jpg" id="globe" alt="globe" />
            {{content}}
        </section>
    </article>
<nav class="pagination in-post" role="navigation">
  <div class="col-lg-12">
    <div class="col-lg-6 center">
      {{#next_post}}
        <a class="newer-posts" href="{{url}}">
          Article précédent<br/>
          <span class="pagination-title">{{title}}</span>
        </a>
      {{/next_post}}
    </div>
    <div class="col-lg-6 center">
      {{#prev_post}}
        <a class="older-posts" href="{{url}}">
          Article suivant<br/>
          <span class="pagination-title">{{title}}</span>
        </a>
      {{/prev_post}}
    </div>
  </div>
</nav>
{{#is "post"}}
  <div class="row">
    <div class="col-lg-12 text-center">
      <h4 class="share-title">Vous avez aimé notre article ?</h4>
      <p class="share-text">N'hésitez pas à le partager, c'est une jolie manière de nous soutenir !</p>
      <div class="margin-bottom-20 col-lg-12 share-buttons">
        <div class="fb-like" data-href="{{url absolute="true"}}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        <div style="display: inline-block;">
          <div style="position: absolute; top: 9px;">
            <a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="subscribe-form col-lg-5">
    <h4>L'EMAIL QUI MET DE LA JOIE DANS VOTRE BOÎTE AUX LETTRES !</h4>
    <img src="/images/newsletter.jpg" alt="Inscrivez vous à notre newsletter !" />
    {{subscribe_form placeholder="EMAIL" }}
  </div>
  <h4 class="comment">Commenter cet article</h4>
  <section id="isso-thread"
           data-title="{{title}}"
           data-isso-id="voyage-{{id}}"></section>
{{/is}}
</main>
{{/post}}
