{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {{{body}}} of the default.hbs template, containing the blog header/footer. --}}

{{> "navigation" }}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<main class="content col-lg-9" role="main">
    <article class="{{post_class}}">
        <header class="post-header">
            <time class="post-date"
                  datetime="{{date format="YYYY-MM-DD"}}">
              {{date format="D MMMM YYYY"}}
            </time>
            <h1 class="post-title">{{title}}</h1>
        </header>

        <section class="post-content">
            <img src="/images/globe1.jpg" id="globe" alt="globe" />
            {{content}}
        </section>
        {{!--
        <footer class="post-footer">
        {{#author}}
            {{#if image}}
            <figure class="author-image">
                <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
            </figure>
            {{/if}}
            <section class="author">
                <h4><a href="{{url}}">{{name}}</a></h4>
                {{#if bio}}
                    <p>{{bio}}</p>
                {{else}}
                    <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}<span class="author-location icon-location">{{location}}</span>{{/if}}
                    {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                </div>
            </section>
        {{/author}}
            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>
        </footer> --}}
    </article>
<nav class="pagination in-post" role="navigation">
  <div class="col-lg-12">
    <div class="col-lg-6 center">
      {{#next_post}}
        <a class="newer-posts" href="{{url}}">
          Article précédent<br/>
          <span class="pagination-title">{{title}}</span>
        </a>
      {{/next_post}}
    </div>
    <div class="col-lg-6 center">
      {{#prev_post}}
        <a class="older-posts" href="{{url}}">
          Article suivant<br/>
          <span class="pagination-title">{{title}}</span>
        </a>
      {{/prev_post}}
    </div>
  </div>
</nav>
{{#is "post"}}
    <div class="subscribe-form col-lg-5">
      <h4>L'EMAIL QUI MET DE LA JOIE DANS VOTRE BOÎTE AUX LETTRES !</h4>
      <img src="/images/newsletter.jpg" alt="Inscrivez vous à notre newsletter !" />
      {{subscribe_form placeholder="EMAIL" }}
    </div>
    <h4 class="comment">Commenter cet article</h4>
    <section id="isso-thread"
             data-title="{{title}}"
             data-isso-id="voyage-{{id}}"></section>
{{/is}}
</main>
{{/post}}
